<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-light" style="background-color: #171718;">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #FFFFFF" href="/">
        Storyteller's Blog
      </a>
    </div>
    <div class="pull-right">
      <a href="/posts/new" class="btn btn-default navbar-btn">New Post</a>
    </div>
  </div>
</nav>
