<!-- reviews-index -->
<h2 style="color: #000000">Posts</h2>

<div class="row">
  {{#each post}}
    <div class="col-sm-6">
        <h2><a style="max-width: 300px; overflow-wrap: break-word" href="/posts/{{this._id}}">{{this.title}}</a></h2>
        <p style="max-width: 300px; overflow-wrap: break-word; color: #000000">{{this.description}}</p>
    </div>
  {{/each}}
</div>
