<!-- views/posts-new.handlebars -->

<form method="POST" action="/posts">
      <legend>New Post</legend>
    {{> posts-form}}
    <!-- BUTTON -->
    <p>
      <button type="submit">Save Post</button>
    </p>
</form>
<form method="GET" action="/">
    <button type="submit">Cancel</button>
</form>
