<!-- views/reviews-edit.handlebars -->

<form method="POST" action="/posts/{{post._id}}?_method=PUT">
      <legend>Edit Post</legend>
  {{> posts-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit">Edit Post</button>
  </p>
</form>
<form method="GET" action="/posts/{{post._id}}">
    <button type="submit">Cancel</button>
</form>
