<!-- views/reviews-edit.handlebars -->

<form method="POST" action="/posts/{{post._id}}?_method=PUT">
      <legend style="color: #000000">Edit Post</legend>
  {{> posts-form}}
  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Post</button>
</div>
</form>
<p><form method="GET" action="/posts/{{post._id}}">
    <button class="btn" style="background-color: #000000; color: #FFFFFF" type="submit">Cancel</button>
</form></p>
